*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    background-color:  #555 !important;

}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #CCCCFF !important;
}
a:hover{
    color: white !important;
}
ul{
    list-style: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
.carousel-inner h1{
    text-shadow: 1px 1px #333;
}
.carousel-inner .carousel-caption{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
}
.card-body h2{
    font-size: 40px;
}
code{
    font-size: 18px !important;
}
.myicon{
    height:30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 17px;
}
.fixedpic{
background-attachment: fixed;
background-size: cover;
height: 250px;
}
.farook1{
background-image: url(../img/4.gif);
}
.farook2{
background-image: url(../img/5.gif);
}
.navbar-brand{
    transition: 0.4s;
}
.navbar-brand:hover{
    text-shadow: 10px 10px 20px white,
                -10px -10px 20px white;
}
.dropdown-menu li a{
    text-shadow: 1px 1px 0px black;
}